#information {
    margin-top: 20px; /* set the top margin to 20px */
    margin-bottom: 20px; /* set the bottom margin to 20px */
    margin-left: 0;
    margin-right: 0;
    padding-left: 0; /* remove the left padding */
    padding-right: 0; /* remove the right padding */
  }